.reset-button {
  background-color: #10B981; /* зеленый */
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  font-weight: 500;
  cursor: pointer;
  display: block;
}

.reset-button:hover {
  background-color: #059669;
}
